{% extends "landing/base2.html" %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-10 col-md-8 mx-auto">
            <h1 class="fw-light">การผ่าตัดเพื่อรักษาภาวะขาขาดเลือดเรื้อรังขั้นวิกฤต</h1>
            <p>
                ภาวะขาขาดเลือดเรื่อรังขั้นวิกฤต ส่วนใหญ่เกิดจากโรคหลอดเลือดแดงตีบตัน พบได้บ่อยในผู้ป่วยที่มี
                ประวัติสูบบุหรี่ เป็นโรคเบาหวาน ความดันโลหิตสูง และระดับไขมันในเลือดสูง ซึ่งภาวะขาขาดเลือดดังกล่าว
                เป็นภาวะที่มีอันตรายอาจส่งผลต่อการสูญเสียอวัยวะหรือเสียชีวิตได้ ถ้าไม่ได้รับการผ่าตัดรักษาอย่างทันท่วงที
            </p>
            <img src="https://drive.google.com/uc?export=view&id=1dT9iPMpEqFIGyMuxUCia0NMAaa5A8YDf" class="img-fluid" alt="---">
        </div>            

        <div class="col-lg-10 col-md-8 mx-auto">
            <h3>ข้อบ่งชี้ในการผ่าตัด</h3>
            <p>
                1. การผ่าตัดเบี่ยงทางเดินหลอดเลือดแดง การผ่าตัดวิธีนี้เหมาะกับผู้ป่วยที่มีสภาพหัวใจแข็งแรง ไม่มี
                ภาวะติดเชื้อและโรคร่วมที่รุนแรง มีการตีบแคบของแผ่นไขมันของหลอดเลือดแดงที่มีช่วงยาว และมี
            สภาพหลอดเลือดแดงทั้งส่วนต้นและส่วนปลายดีพอที่จะใช้ในการผ่าตัด
            </p>
            <p>
                2. การรักษาโดยวิธีใช้สายสวนหลอดเลือดแดง เป็นวิธีที่เหมาะกับผู้ป่วยที่มีสภาพร่างกายไม่สมบูรณ์
                เพียงพอต่อการผ่าตัด และ/หรือ มีการตีบแคบของแผ่นไขมันของหลอดเลือดแดงของขาที่มีช่วงสั้น วิธี
                ผ่าตัดที่แพทย์ทําบ่อยได้แก่ การใช้สายสวนที่มีปลายเป็นลูกโป่งถ่างขยายหลอดเลือดแดง และ/หรือ ใส่
                ขดลวดคํ้ายันหลอดเลือดแดงบริเวณที่มีการตีบแคบ
            </p>
            <p>
            <b>หมายเหตุ</b>
                ในปัจจุบันการเลือกวิธีผ่าตัดในผู้ป่วยที่มีภาวะหลอดเลือดแดงอุดตันขั้นวิกฤต มีปัจจัย
                หลากหลายที่ต้องนํามาพิจารณา ดังนั้นมีความจําเป็นอย่างยิ่งที่ผู้ป่วย ญาติ และแพทย์ผ่าตัด
                จําเป็นต้องมาพูดคุยกัน เพื่อพิจารณาเลือกวิธีการรักษาที่ถูกต้องและเหมาะสมสําหรับผู้ป่วยแต่ละราย
            </p>
        </div>

        <div class="col-lg-10 col-md-8 mx-auto">
            <h3>ขั้นตอนการผ่าตัด</h3>
            <p>
                <p><b>1. การผ่าตัดเบี่ยงทางเดินหลอดเลือดแดง</b></p>
                ภายหลังวางยาสลบ แพทย์ผู้ทําผ่าตัดจะเลาะเนื้อเยื่อเพื่อค้นหาและเตรียมหลอดเลือดแดงส่วน
                ปลายและส่วนต้นต่อการอุดตัน รวมทั้งช่องทางเดินใต้ผิวหนังหรือใต้กล้ามเนื้อเพื่อวางหลอดเลือด
                เชื่อมต่อ ซึ่งอาจเป็นหลอดเลือดเทียมหรือหลอดเลือดดําของผู้ป่วยเอง และหลังจากที่แพทย์ได้ทําการ
                วางหลอดเลือดเชื่อมต่อภายในช่องทางเดินที่เตรียมไว้เรียบร้อยแล้ว ก็เริ่มทําการเย็บรอยต่อเชื่อมหลอด
                เลือดแดงส่วนต้นและส่วนปลายเข้ากับหลอดเลือดเชื่อมต่อดังกล่าวและทําการปล่อยให้เลือดจากหลอด
                เลือดแดงส่วนต้นผ่านไปยังหลอดเลือดเชื่อมต่อและหลอดเลือดแดงส่วนปลาย และทําการตรวจสอบ
                และเย็บซ่อมแซมจุดเลือดออก เมื่อสามารถคลําชีพจรบริเวณข้อเท้าหรือหลอดเลือดแดงส่วนปลายได้
                แรงดี ก็จะถือว่าการผ่าตัดเปลี่ยนทางเดินหลอดเลือดแดงนั้นสําเร็จ
                <img src="https://drive.google.com/uc?export=view&id=1odEZG1-bHU5Hqy2ttW19gXpD42oT39hr" class="img-fluid" alt="---">
                <p><b>2. การรักษาโดยวิธีใช้สายสวนหลอดเลือดแดง</b></p>
                ภายหลังฉีดยาชาเฉพาะที่หรือในกรณีที่ผู้ป่วยไม่ให้
                ความร่วมมือในการผ่าตัดอาจทําให้หลับด้วยยานําสลบ แพทย์จะทําการแทงเข็มเข้าไปบริเวณหลอด
                เลือดแดงบริเวณขาหนีบ ใส่ลวดตัวนําให้ลึกพอประมาณแล้วจึงถอนเข็มออก ใส่ปลอกสายสวนคร่อม
                ลวดตัวนําเดิม ใส่สายสวนเข้าไปในปลอกคร่อมลวดตัวนํา ฉีดสารเพิ่มความคมชัด (สารทึบรังสี) ผ่าน
                ทางสายสวนเพื่อถ่ายภาพหลอดเลือดแดงยืนยันตําแหน่งตีบแคบ หลังจากนั้นทําการใส่สายสวน
                ลูกโป่งเพื่อถ่างขยายแผ่นไขมันในหลอดเลือดแดงให้กว้างขึ้น อาจใส่ขดลวดคํ้ายันแผ่นไขมันไว้เพื่อ
                ความแข็งแรงหลังจากนั้นทําการห้ามเลือดและปิดแผล
                <img src="https://drive.google.com/uc?export=view&id=1KTr4oZHrZSafjvjil4EcR-J_npBGk593" class="img-fluid" alt="---">
            </p>
        </div>


        <div class="col-lg-10 col-md-8 mx-auto">
            <h3>ความเสี่ยงหรือภาวะแทรกซ้อนที่อาจเกิดขึ้น</h3>
            <p>ในระหว่างและหลังการผ่าตัดเพื่อรักษาภาวะขาขาดเลือดเรื้อรังขั้นวิกฤต อาจเกิดภาวะแทรกซ้อนได้ ดังนี</p>
            <p>
                1. มีอันตรายกับหลอดเลือดขณะทําผ่าตัด เช่น ผนังหลอดเลือดแดงฉีกขาดหรืออุดตันจากการใส่ลวด
                ตัวน า หรือใส่สายสวนเพื่อขยายหลอดเลือด
            </p>
            <p>
                2. มีภาวะแทรกซ้อนหรืออาการไม่พึงประสงค์จากการใช้สารทึบรังสี เช่น มีความรู้สึกร้อนหรือปวดที่
                อวัยวะส่วนปลาย (พบได้ประมาณ 1-10 คนจาก 100 คน) มีอาการปวดศีรษะ คลื่นไส้(พบมากกว่า 4
                คนจาก 100 คน) หรืออาจเกิดอาการหายใจลําบากจากการตีบแคบของหลอดลมคอแบบเฉียบพลัน
                ซึ่งอาจเกิดการเสียชิวติได้ (พบน้อยมาก)
            </p>
            <p>
                3. มีเลือดออกบริเวณผิวหนังที่ใส่สายสวนหลอดเลือดหรือบริเวณแผลผ่าตัดได้(พบได้ประมาณ 2 – 4
                คนจาก 100 คน)
            </p>
            <p>
                4. มีการติดเชื้อบริเวณแผลผ่าตัด (พบได้ประมาณ 4 – 14 คนจาก 100 คน)
            </p>
            <p>
                5. มีโอกาสสูญเสียขาจากการถูกตัดหรืออวัยวะส่วนปลายจากภาวะขาขาดเลือดขั้นวิกฤต (พบได้
                ประมาณ 6 – 23 คนจาก 100 คน)
            </p>
            <p>
                6. ผู้ป่วยโรคหลอดเลือดแดงตีบมักมีโรคประจำตัวร่วม เช่น เบาหวาน ความดันโลหิตสูง ไขมันในเลือดสูง
                โรคหลอดเลือดหัวใจ โรคหลอดเลือดสมอง และโรคไตเป็นต้น ส่งผลให้ผู้ป่วยมีโอกาสเสียชีวิตภายใน
                30 วันหลังผ่าตัด จากภาวะโรคร่วมดังกล่าวได้(พบได้ประมาณ 2 – 7 คนจาก 100 คน)
            </p>
        </div>
        <hr>

        <div class="col-lg-10 col-md-8 mx-auto">
            <p>
            โปรดลงนามในเอกสารนี้และส่งคืนพยาบาลผู้จัดการของคุณ
            </p>
            <div>
            <iframe src="https://drive.google.com/file/d/1wv2CaNlCO5EpiMUpUv-1eDApZUNrpfjZ/preview" width="640" height="480" allow="autoplay"></iframe>
            </div>
            <br>
                <div class="input-group-prepend">
                    <span class="input-group-text">กรุณากรอกชื่อและนามสกุลเพื่อยืนยันว่าคุณได้อ่านข้อความในเอกสารเรียบร้อยแล้ว</span>
                    <form method="POST">
                    {% csrf_token %}
                        <input type="text" class="form-control" placeholder="ชื่อและนามสกุล" name="pat-confirmed">
                        <br>
                        <button type="submit" class="btn btn-primary">ยืนยัน</button>
                    </form>
                </div>
        </div>
    </div>
</section>
{% endblock %}
