{% extends 'landing/base.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Thailand's Premium Integrative Healthcare Program</h1>
                <hr class="divider" />
            </div>                                                                                                                                    
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Our goal is to provide the information and asistances to you to reach your optimal health</p>
                <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Integrative or Completmently Healthcare</h2>
                <hr class="divider divider-light" />
                <p class="text-white mb-4">Integrative health is an individualized, client-centered model or promoting optimal health and wellness.</p>
                <p class="text-white mb-4">Integrative health also emphasizes multimodal interventions, which are two or more interventions such as conventional medicine, lifestyle modification, physical rehabilitation, psychotherapy, and complementary health approaches in various combinations with an emphasis on treating the whole person rather than, for example, targeting one organ system.

                Integrative health aims for well coordinate care among different providers and institutions by bringing conventional and complementary approaches together to care for the whole person. 
                </p>
                <p class="text-white-75">According to National Center for Completmently and Integrative Health</p>
                <a class="btn btn-primary btn-xl" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>
<section class="page-section bg-light" onload="landingChart()">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center text-dark mt-0">Focus on your best health</h2>
        <hr class="divider" />
        <div class="container md-8">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="landingDonut" ></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5" id="program">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="fw-bolder mb-0">โปรแกรมส่วนบุคคลเพื่อสุขภาพที่ดีที่สุดของคุณ</h2>
            </div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-journal-medical fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">ความรู้ด้านสุขภาพ</h3>
                            <p class="text-muted mb-0">เรียนรู้เกี่ยวกับสุขภาพของคุณและปรับปรุงสภาพของคุณจากผู้เชี่ยวชาญ</p>
                            <hr>
                            <a href="{% url 'healthlit' %}  " class="btn btn-primary">เริ่มดูแลสุขภาพของคุณ</a>
                        </div>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-calendar3 fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Progressive Program</h3>
                            <p class="text-muted mb-0">Personalized program for physical rehabilitation</p>
                            <hr>
                            <a href="#" class="btn btn-primary"> Read More</a>
                        </div>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Wholehearted</h3>
                            <p class="text-muted mb-0">Discover yourself, and live your life purposefully</p>
                            <hr>
                            <a href="#" class="btn btn-primary"> Read More</a>
                        </div>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-signpost-2 fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Bridge Program</h3>
                            <p class="text-muted mb-0">Conventional health assistance, connect you with our providers</p>
                            <hr>
                            <a href="{% url 'bridge' %}" class="btn btn-primary"> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="{% static 'js/landing.js' %}"></script>
{% endblock %}
